* {border-style: none; font-family: helvetica;}

/* Links */
a:link {color: #ff9b0a; text-decoration:none}     /* unvisited link */
a:visited {color: ff9b0a; text-decoration:none}  /* visited link */
a:hover {color: yellow; font-size: 110%; text-decoration:none}   /* mouse over link */
a:active {color: red}   /* selected link */

* {line-height: 150%; font-size: 10pt}

body {
    min-width: 700px;
    margin: 0px 0; padding: 0px;
}

pre {font: 12pt Courier New, Courier;}
code {font: 12pt Courier New, Courier;}

/* Centered box within body*/
#content {
    text-align: justify; 
    width: 700px; 
    margin: 0px auto;
}

h1 {font-size: 15pt}

hr {
    height:1px;
    width:100%;
    background-color:#995533;
    color:#995533
}

/*p + blockquote {margin-bottom:0;margin-top:0}*/